<section id="projects" class="py-16 px-4 md:px-8 bg-gray-100">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold text-center mb-8">Projects</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-stretch">
            <a href="https://github.com/OmkarAla/Academic-Counselling-Chatbot" target="_blank" class="block text-normal hover:shadow-2xl transition-shadow duration-300">
            <div class="bg-white p-6 rounded shadow h-full flex flex-col">
                <img src="images/chatbot.png" alt="Context-Aware Academic Counselling Chatbot" class="w-full h-48 object-cover rounded mb-4">
                <h3 class="text-xl font-semibold">Context-Aware Academic Counselling Chatbot</h3>
                <p class="text-gray-600 mt-2">Built a context-aware chatbot using RAG and Sentence Transformers to answer academic queries from PDFs. Achieved 90% intent recognition accuracy with Cohere AI's command-r model. Developed an interactive React.js UI with dynamic FAQ expansion.</p>
            </div>
            </a>
            <a href="https://jobsproace.ccbp.tech/" target="_blank" class="block text-normal hover:shadow-2xl transition-shadow duration-300">
            <div class="bg-white p-6 rounded shadow h-full flex flex-col">
                <img src="images/jobby.png" alt="Jobby App: Job Finder" class="w-full h-48 object-cover rounded mb-4">
                <h3 class="text-xl font-semibold">Jobby App: Job Finder</h3>
                <p class="text-gray-600 mt-2">Developed a job search platform with secure JWT-based authentication and protected routes using React Router and RESTful APIs. Reduced page load delays by approximately 30% through efficient API fetching.</p>
            </div>
            </a>
            <a href="https://acetrendz.ccbp.tech/" target="_blank" class="block text-normal hover:shadow-2xl transition-shadow duration-300">
            <div class="bg-white p-6 rounded shadow h-full flex flex-col">
                <img src="images/nxttrendz.png" alt="NxtTrendz" class="w-full h-48 object-cover rounded mb-4">
                <h3 class="text-xl font-semibold">NxtTrendz</h3>
                <p class="text-gray-600 mt-2">Created an optimized shopping platform with real-time cart updates using React Context API, achieving less than 1-second cart sync latency. Improved UI responsiveness and simplified checkout flows.</p>
            </div>
            </a>
        </div>
    </div>
</section>